@font-face {
    font-family: Regencie Light;
    src: url('/fonts/RegencieLight.ttf');
}

body{
  margin:0;
  padding:0;
  background-color: #F5F5F5;
  font-family: Regencie Light;
}

div#login-box{
  width:30%;
  margin:10% auto;
  background-color: #FFF;
  padding-top: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 10px 10px 0px 0px;
}

div#login-box h1{
  font-size: 30px;
  font-weight: normal;
  margin-left:10%;
  padding:0;
  color:#2980b9;
}



div#login-box .f-input{
  display: block;
  width: 80%;
  margin:10px auto;
  padding:10px;
  font-family: inherit;
  outline:none;
  border:1px solid #D1D1D1;
  color:#717171;
}

div#login-box .f-input:focus{
  background-color: #FFF9C4;
}


div#login-box button{
  display: block;
  width:100%;
  border:none;
  background-color: #2980b9;
  color:#FFF;
  padding:10px 0px;
  cursor: pointer;
  font-family: inherit;
  margin-top:20px;
  font-size: 16px;
}

div.error-box{
  background-color: #ffcdd2;
  width:80%;
  margin:0px auto;
  border-radius: 5px;
  padding:0px 10px;
}

div.error-box ul{
  padding:5px 20px;
  margin: 0;
}

div.error-box ul li{
  font-size: 12px;
  color:#c62828;
}
